container {
  width: 100%; 
  margin: 0 auto; 
}

.products {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  margin-top: 50px; 
  gap: 20px;
}

.product-card {
  background-color:  #F7EED3; 
  border: 1px solid black;
  border-radius: 20px; 
  padding: 15px; 
  width: 45%; 
  margin-bottom: 20px; 
  text-align: center; 
  transition: transform 0.3s; 
}


.product-card img {
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
  margin-bottom: 10px; 
}


.product-card:hover {
  transform: scale(1.01); 
}


.product-card h3 {
  margin-top: 10px; 
}


.button {
  background-color: black; 
  color: #fff; 
  border: none;
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.button:hover {
  background-color: #555; 
}
.menu-list {
  background-color:  #AAB396;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  margin-top: 50px;
}
.menu-list h2 {
  text-align: center;
  color: black;
  margin-bottom: 10px;
}
.menu-list ul li a {
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}
.menu-list ul li a:hover {
  color: #007acc;
}
.menu-list ul li hr {
  margin: 0;
}
@media (max-width: 768px) {
  .product-card {
      width: 100%;
  }
}

.menu-list {
  padding: 15px;
}
.menu-list ul li a {
  font-size: 1em;
}

@media (max-width:480px) {
  main {
    padding: 15px;
  }
  .menu-list h2 {
    font-size: 1.3em;
  }
  .menu-list ul li a {
    font-size: 0.9em;
  }
}
