/* General Styles */
body {
  margin: 0;
  padding: 0 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFF8E8;
  color: black;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}
hr {
  border: 1px solid ;
}
/* Header */
header {
  background-color: #AAB396;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
  margin-top: 20px;
  max-width: 100%;
  padding: 10 px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  flex-wrap: wrap;
}
.logo img {
  height: 60px;

}
.header-icons a {
  margin-left: 15px;
}
.header-icons img {
  filter: grayscale(50%);
  transition: filter 0.3s;
}
.header-bottom {
  background-color: #F7EED3;
  border-radius: 20px;
  width: 100%;
}
.header-bottom nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  margin: 0;
  list-style: none;
}
.header-bottom nav ul li a {
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  text-align: none;
}
.header-bottom nav ul li a:hover {
  border-bottom: 2px solid black;
 
}
/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  margin-top: 20px;
  background-color: #674636;
  color: black
  

}
.footer-colon {
  flex: 1;
  padding: 10px;
  min-width: 200px;
  text-align: center;
}
footer h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: black;
}
.footer-colon a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;

}
footer a:hover {
  color: #F7EED3;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-icons a {
  color: black;
  font-size: 18px;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #608BC1;
} 
.social-icons img {
  width: 24px;
  height: 24px;
}
/* Responsive Styles */
@media (max-width: 768px) {
  bady {
    padding: 0 20px;
  }
  .header-top {
    flex-direction: column;
    align-items: center;
  }
  .header-bottom nav ul {
   gap: 10px;
   flex-direction: column;
   padding: 5px 0;
  }
  footer {
    padding: 15px;
    padding: 14px;
  }
  footer-colon {
    min-width: 150px;
  }
  footer h3 {
    font-size: 14px;
  }
}
@media (max-width: 480px ) {
  body {
    padding: 0 10px;
  }
  header {
    padding: 5px;
  }
  .header-top {
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
  }
  .header-bottom nav ul {
    gap: 8px;
    padding: 5px 0;
  }
  footer {
    padding: 10px;
  }
  footer h3 {
    font-size: 12px;
  }
  footer a {
    font-size: 12px;
  }
}

